# Runtime requirements
--requirement requirements.txt

# Documentation
Sphinx==4.2.0
sphinxcontrib-httpdomain==1.7.0
pygments==2.10.0

# Linting
flake8==3.9.2

# Unit testing
pytest==6.2.5
webtest==3.0.0
pytest-cov==2.12.1
coveralls==3.2.0
