# Runtime requirements
--requirement requirements.txt

# Documentation
Sphinx==1.8.3
sphinxcontrib-httpdomain==1.7.0
pygments==2.3.1

# Linting
flake8==3.7.4

# Unit testing
pytest==4.2.0
mock==2.0.0
webtest==2.0.32
pytest-cov==2.6.0
coveralls==1.5.1
