alabaster==0.7.16
    # via sphinx
babel==2.17.0
    # via sphinx
beautifulsoup4==4.14.3
    # via webtest
cachetools==6.2.2
    # via pyld
certifi==2025.11.12
    # via requests
charset-normalizer==3.4.4
    # via requests
coverage==7.13.0
    # via
    #   coveralls
    #   pytest-cov
coveralls==4.0.2
    # via pyramid-skosprovider (pyproject.toml)
docopt==0.6.2
    # via coveralls
docutils==0.20.1
    # via
    #   sphinx
    #   sphinx-rtd-theme
flake8==7.1.1
    # via pyramid-skosprovider (pyproject.toml)
frozendict==2.4.7
    # via pyld
html5lib==1.1
    # via skosprovider
hupper==1.12.1
    # via pyramid
idna==3.11
    # via requests
imagesize==1.4.1
    # via sphinx
iniconfig==2.3.0
    # via pytest
jinja2==3.1.6
    # via sphinx
language-tags==1.2.0
    # via skosprovider
lxml==6.0.2
    # via pyld
markupsafe==3.0.3
    # via jinja2
mccabe==0.7.0
    # via flake8
packaging==25.0
    # via
    #   pytest
    #   sphinx
pastedeploy==3.1.0
    # via plaster-pastedeploy
plaster==1.1.2
    # via
    #   plaster-pastedeploy
    #   pyramid
plaster-pastedeploy==1.0.1
    # via pyramid
pluggy==1.6.0
    # via pytest
pycodestyle==2.12.1
    # via flake8
pyflakes==3.2.0
    # via flake8
pygments==2.18.0
    # via
    #   pyramid-skosprovider (pyproject.toml)
    #   sphinx
pyld==2.0.3
    # via skosprovider
pyramid==2.0.2
    # via pyramid-skosprovider (pyproject.toml)
pytest==8.3.3
    # via
    #   pyramid-skosprovider (pyproject.toml)
    #   pytest-cov
pytest-cov==5.0.0
    # via pyramid-skosprovider (pyproject.toml)
pyyaml==6.0.3
    # via responses
requests==2.32.5
    # via
    #   coveralls
    #   responses
    #   sphinx
responses==0.25.3
    # via pyramid-skosprovider (pyproject.toml)
rfc3987==1.3.8
    # via skosprovider
setuptools==80.9.0
    # via
    #   pyramid
    #   zope-deprecation
six==1.17.0
    # via
    #   html5lib
    #   sphinxcontrib-httpdomain
skosprovider==1.5.1
    # via pyramid-skosprovider (pyproject.toml)
snowballstemmer==3.0.1
    # via sphinx
soupsieve==2.8
    # via beautifulsoup4
sphinx==7.4.7
    # via
    #   pyramid-skosprovider (pyproject.toml)
    #   sphinx-rtd-theme
    #   sphinxcontrib-httpdomain
    #   sphinxcontrib-jquery
sphinx-rtd-theme==2.0.0
    # via pyramid-skosprovider (pyproject.toml)
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-httpdomain==1.8.1
    # via pyramid-skosprovider (pyproject.toml)
sphinxcontrib-jquery==4.1
    # via sphinx-rtd-theme
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
translationstring==1.4
    # via pyramid
typing-extensions==4.15.0
    # via beautifulsoup4
urllib3==2.6.2
    # via
    #   requests
    #   responses
uv==0.9.6
    # via pyramid-skosprovider (pyproject.toml)
venusian==3.1.1
    # via pyramid
waitress==3.0.2
    # via webtest
webencodings==0.5.1
    # via html5lib
webob==1.8.9
    # via
    #   pyramid
    #   webtest
webtest==3.0.1
    # via pyramid-skosprovider (pyproject.toml)
zope-deprecation==6.0
    # via pyramid
zope-interface==8.1.1
    # via pyramid
